body {
    font-family: Poppins,sans-serif;
    background-color: #191a27;
    color: #fff;
}

.video-item {
    padding-bottom: 2%;
    margin-top: 20px;
}

.graphic-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
}

.video-item:hover .play-circle {
    transform: scale(1.2);
    transition: transform 200ms ease-out;
}

.video-item:hover .play-caret {
    color: #eb3850;
    transform: scale(1.2);
    transition: 0.2s;
}

.video-item:hover .video-description {
    background-color: #32334b;
    transition: 0.2s;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-circle {
    position: relative;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(0,0,0,.4);
    border-radius: 50%;
    border: 2px solid #fff;
    width: 60px;
    height: 60px;
}

.play-caret {
    color: #fff;
    position: absolute;
    padding-left: 6px;
}

.video-duration {
    position: absolute;
    top: 0;
    right: 3.8%;
    background-color: #282a3c;
    opacity: 0.6;
    padding: 0 2%;
    color: #99A1D4;
    font-weight: 100;
}

.video-title {
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    max-height: calc(2 * 20px);
    overflow: hidden;
    font-weight: 700;
}

.video-description {
    padding: 16px 16px 1px;
    background-color: #28293D;
}

.video-category {
    color: #99A1D4;
    font-weight: 700;
    font-size: 14px;
}

.video-short-description {
    color: #99A1D4;
    line-height: 20px;
    max-height: calc(2 *20px);
    overflow: hidden;
    font-size: 12px;
    padding-bottom: 2%;
    font-weight: 100;
}

@media screen and (max-width: 990px){
    .play-circle {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px){
    .video-duration {
        right: 2.5%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .video-duration {
        right: 4.8%;
    }
}